* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  /* Header/logo Title */
  .header {
    padding: 80px;
    text-align: center;
    background-image: url("header.png");
    color: white;
    font-family: FFF Forward;
  }
  
  /* Increase the font size of the heading */
  .header h1 {
    font-size: 40px;
  }
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }

  .p {
    padding: 5px;
  }

  